*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.counter{
  background-color: rgb(29, 29, 113);
  width: 200px;
  height: 100px;
  color: rgb(192, 200, 207);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  font-size: x-large;
  box-shadow: -5px -5px 10px red;
  
}

button{
  margin:10px 5px ;
}